@model YemekTarifi.Models.DB.Yorumlar

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detaylar</h1>

<div>
    <h4>Yorumlar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Icerik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Icerik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarih)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Onay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Onay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kullanıcı)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kullanıcı.KullanıcıId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yemek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yemek.YemekId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.YorumId">Düzenle</a> |
    <a asp-action="Index">Listeye Geri Dön</a>
</div>
