@model IEnumerable<YemekTarifi.Models.DB.Yorumlar>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Yorumlar</h1>

<p>
    <a asp-action="Create">Yeni Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Icerik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Onay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kullanıcı)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yemek)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Icerik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Onay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kullanıcı.KullanıcıId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yemek.YemekId)
            </td>
                <div class="button-container">
                    <a class="btn btn-danger" asp-action="Edit" asp-route-id="@item.YorumId">Düzenle</a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.YorumId">Detaylar</a>
                    <a class="btn btn-dark" asp-action="Delete" asp-route-id="@item.YorumId">Sil</a>
                </div>
        </tr>
}
    </tbody>
</table>
